

body{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: "Quicksand-VariableFont_wght", sans-serif;
    
}
.header_a{
    background-color:     #000000, opacity 0%;
    height: 100px;
    width: 90%;
    border-radius: 5px;
    box-shadow: -8px 5px 2px 1px rgba(0, 128, 128, 0.6);
    
    
    
}

img { opacity : 0.8;}

@font-face {
    font-family: "Quicksand-VariableFont_wght";
    src: url("fontes/Quicksand-VariableFont_wght.ttf") format("truetype");
  }

 
  main{
   
    position: relative;
    right: 10px;
    top: -60px;
    flex-grow: 1;
    display: flex;
    justify-content: right;
    
  }
  .item{
      
      width: 50px;
      height:50px;
      box-shadow: 0 0 10px #228293;
      display: none;  
      justify-content: center;
      align-items: center;     

  }
  .item:hover{
      
    width: 50px;
    height:50px;
    box-shadow: 0 0 10px #15505a;
    display: flex;  
    justify-content: center;
    align-items: center; 
}



@media (max-width: 600px) {
  .menu-list {
    display: none; /* esconde o botão quando a tela tiver largura menor que 600px */
    
  }
  
  .item {
    display: flex; /* exibe a lista como inline-block quando a tela tiver largura menor que 600px */
  }
}



.LINKLISTA{

  color: #2d336f ;
  opacity : 0.6;
  font-size: 24px;
  text-decoration: solid;
  margin-left: 30px;
 
  
  
  
}
.LINKLISTA:hover {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
